@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap");

body {
  font-family: Roboto, sans-serif;
  height: 100vh;
  margin: 0;
  display: flex;
  flex-direction: column;
}

ul {
  list-style-type: none;
}

button {
  font-family: Roboto, sans-serif;
  background: #3882f6;
  color: #f9faf8;
  font-size: 20px;
  border: none;
  border-radius: 8px;
  margin: 10px 0;
  padding: 6px 28px;
}

.header,
.footer {
  background: #1f2937;
  color: #f9faf8;
}

.header {
  display: flex;
  flex-flow: column;
  padding: 16px 72px 72px;
}

.links {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 60px;
  gap: 570px;
}

.left-links {
  font-size: 24px;
  font-weight: 600;
}

.right-links {
  display: flex;
  gap: 16px;
}

.right-links,
.hero-sub {
  color: #e5e7eb;
  font-size: 18px;
}

.hero-main {
  font-size: 48px;
  font-weight: 800;
}

.hero-content {
  display: flex;
  justify-content: space-between;
  margin: 0 auto;
}

.hero-text {
  flex-basis: 40%;
}

.hero-image {
  display: flex;
  flex-basis: 40%;
  justify-content: center;
  align-items: center;
  background: darkgray;
}

.info {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 48px auto 56px;
  gap: 24px;
}

.info-main {
  font-size: 36px;
  font-weight: 800;
  color: #1f2937;
}

.info-cards {
  display: flex;
  flex-wrap: wrap;
  gap: 32px;
}

.info-card {
  display: flex;
  flex-direction: column;
  width: 200px;
  text-align: center;
}

.info-card img {
  height: 200px;
  width: 200px;
}

.quote {
  background: #e5e7eb;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.quote-text {
  font-size: 36px;
  font-weight: 300;
  font-style: italic;
  margin-top: 100px;
  display: flex;
  max-width: 41ch;
}

.quote-author {
  margin-bottom: 100px;
  margin-left: 36ch;
  font-size: 24px;
  font-weight: 700;
}

.promo {
  background: #3882f6;
  color: #f9faf8;
  border-radius: 8px;
  width: 50rem;
  padding: 48px 64px;
  margin: 64px auto;
  display: flex;
  justify-content: space-around;
}

.promo button {
  border: 2px solid #f9faf8;
}

.promo-main {
  font-size: 24px;
  font-weight: 600;
}

.promo-sub {
  color: #e5e7eb;
}

.footer {
  display: flex;
  justify-content: center;
  padding: 24px;
}
