@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap");

body {
  font-family: Roboto, sans-serif;
  height: 100vh;
  margin: 0;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

ul {
  list-style-type: none;
}

button {
  font-family: Roboto, sans-serif;
  background: #3882f6;
  color: #f9faf8;
  border: none;
  border-radius: 8px;
  margin: 10px 0;
  padding: 6px 28px;
}

.header,
.footer {
  background: #1f2937;
  color: #f9faf8;
}

.header {
  display: flex;
  flex-flow: column;
  padding: 16px 72px 72px;
}

.links {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 60px;
}

.left-links {
  font-size: 24px;
  font-weight: 600;
}

.right-links {
  display: flex;
  gap: 16px;
}

.right-links,
.hero-sub {
  color: #e5e7eb;
  font-size: 18px;
}

.hero-main {
  font-size: 48px;
  font-weight: 800;
}

.hero-content {
  display: flex;
  justify-content: space-between;
  margin: 0 auto;
}

.hero-text {
  flex-basis: 40%;
}

.hero-image {
  display: flex;
  flex-basis: 40%;
  justify-content: center;
  align-items: center;
  background: darkgray;
}

.info {
  display: flex;
  flex-direction: column;
  align-items: center;
  flex: 1;
  margin: 48px;
  gap: 24px;
}

.info-main {
  font-size: 36px;
  font-weight: 800;
  color: #1f2937;
}

.info-cards {
  display: flex;
  flex-wrap: wrap;
  gap: 32px;
}

.info-card {
  display: flex;
  flex-direction: column;
  width: 200px;
  text-align: center;
}

.info-card img {
  height: 200px;
  width: 200px;
}

.quote {
  background: #e5e7eb;
  display: flex;
  flex-direction: column;
}

.quote-text {
  height: 400px;
  font-size: 36px;
  font-weight: 300;
  font-style: italic;
  margin: 100px 200px 0;
  display: flex;
  flex: 1;
  align-items: center;
}

.quote-author {
  margin: 0 200px 100px;
  font-size: 24px;
  font-weight: 700;
  text-align: end;
}

.footer {
  display: flex;
  justify-content: center;
  padding: 24px;
}
